@mixin button {
  .img_minus_tablet,
  .img_plus_tablet,
  .img_minus_mobile,
  .img_plus_mobile {
    display: none;
  }

  .plus {
    &:hover {
      ~ .img_plus_desctop,
      ~ .plus {
        display: none;
      }

      ~ .img_minus_desctop,
      ~ .minus {
        display: inline-block;
      }
    }
  }
  .minus,
  .plus {
    width: 100px;
    height: 100px;
    position: absolute;
    cursor: pointer;
  }
  .plus {
    display: inline-block;
    z-index: 3;
  }
  .minus {
    display: none;
    z-index: 3;
  }
  .plusM,
  .minusM {
    display: none;
  }
  .img_plus_desctop {
    display: inline-block;
  }

  .img_minus_desctop {
    display: none;
  }
}

@mixin button_tablet {
  .img_minus_desctop,
  .img_plus_desctop,
  .img_plus_mobile,
  .img_minus_mobile {
    display: none;
  }
  .img_plus_tablet,
  .img_minus_tablet {
    position: absolute;
    z-index: 2;
  }
  .plusM,
  .minusM {
    display: none;
  }
  .minus,
  .plus {
    width: 80px;
    height: 80px;
    position: absolute;
    cursor: pointer;
  }
  .plus {
    &:hover {
      ~ .img_minus_desctop,
      ~ .img_plus_tablet,
      ~ .plus {
        display: none;
        transform: scale(1.2);
      }

      ~ .img_minus_tablet,
      ~ .minus {
        display: inline-block;
      }
    }
  }
  .img_plus_tablet {
    display: inline-block;
  }
  .avtograf {
    position: absolute;
    font-size: 16px;
    font-style: italic;
  }
}

@mixin button_mobile {
  .img_minus_desctop,
  .img_plus_desctop,
  .img_plus_tablet,
  .img_minus_tablet {
    display: none;
  }
  .img_plus_mobile {
    display: inline-block;
  }
  .img_plus_mobile,
  .img_minus_mobile {
    position: absolute;
    z-index: 2;
  }
  .plus,
  .minus {
    display: none;
  }
  .plusM,
  .minusM {
    display: none;
    z-index: 9;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
  }
  .active {
    display: block;
  }
  .avtograf {
    position: absolute;
    font-style: italic;
    font-size: 14px;
  }
}
//Кнопка вверх
@mixin buttonTopDesc {
  cursor: pointer;
  svg {
    fill: #ebebeb;
    width: 60px;
    height: 60px;
  }
}
@mixin buttonTopTab {
  svg {
    width: 53px;
    height: 53px;
  }
}
@mixin buttonTopMob {
  svg {
    width: 30px;
    height: 30px;
  }
}
