.header {
  display: flex;
  height: 100px;
  align-items: center;
  flex-shrink: 0;
  background: $bg-color-light;
  &__navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &__item {
      a {
        color: $text-color-secondary;
        font-size: 18px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
