.header {
  display: flex;
  height: 100px;
  padding-left: 60px;
  align-items: center;
  &__hamburger {
    cursor: pointer;
    outline: none;
    svg {
      width: 30px;
      height: 30px;
    }
  }
  &__menu {
    display: none;
    background: inherit;
    z-index: 3;
    .items {
      padding-left: 20px;
      display: flex;
      justify-content: space-between;
      width: 1110px;
      .item {
        a {
          cursor: pointer;
          color: $text-color-secondary;
          font-size: 18px;
          &:hover {
            font-style: italic;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
