@media (max-width: 1199.98px) {
  .header {
    padding-right: 45px;
    padding-left: 45px;
    &__menu {
      .items {
        .item {
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
    &__hamburger {
      display: block;
    }

    &__menu {
      display: none;
      height: 100px;
      .items {
        flex-direction: column;
        .item {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}
