@media (max-width: 1279.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}
@media (max-width: 768px) {
  .redkedsHarisma {
    margin-top: 0px;
    width: 768px;
    height: 1090px;
    &__content {
      height: 200px;
      background: url(../img/tablet/bg/bg5.webp) no-repeat;
      background-position: top 145px left 0px;
    }
    &__content2 {
      top: 205px;
      height: 1245px;

      &__picture {
        position: absolute;
        width: 91%;
        top: -88px;
        left: -42px;
        transform: rotate(5deg);
      }
      &__text {
        margin-top: 60px;
        margin-left: 430px;
        width: 335px;
        background: url(../img/tablet/bg/bg5-3.webp) no-repeat;
        background-position: top 5px left -5px;
        height: 226px;
        font-size: 18px;
      }
    }
    .redkedsHarisma__picture {
      width: 768px;
      height: 505px;
      top: 432px;
      left: 0px;

      .img_plus_tablet,
      .img_minus_tablet {
        top: 0px;
        left: 528px;
      }
      .minus,
      .plus {
        top: 231px;
        left: 494px;
      }
      .avtograf {
        top: 338px;
        left: 406px;
      }
      @include button_tablet;
    }
    &__content3 {
      margin-top: 980px;
      width: 394px;
      &__link {
        margin-bottom: 28px;
        &__plus {
          width: 80px;
          height: 80px;
        }
      }
      &__text {
        font-size: 24px;
      }
    }
  }
}
@media (max-width: 375px) {
  .redkedsHarisma {
    position: relative;
    overflow-x: clip;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    height: 1215px;
    &__content {
      position: absolute;
      top: 200px;
      height: 200px;
      background: url(../img/mobile/bg/bg10.webp) no-repeat;
      background-position: top 30px left 15px;
    }
    &__content2 {
      position: relative;
      width: 375px;
      top: 255px;

      &__picture {
        width: 118%;
        top: -88px;
        left: -42px;
        transform: rotate(11deg);
      }
      &__text {
        position: absolute;
        margin-left: 28px;
        width: 233px;
        top: 528px;
        left: 0px;
        background: url(../img/tablet/bg/bg5-3.webp) no-repeat;
        background-position: top -5px left -28px;

        font-size: 16px;
        line-height: 122%;
      }
    }
    &__content3 {
      margin-top: 350px;
      width: 375px;
      &__link {
        margin-bottom: 15px;
        &__plus {
          width: 50px;
          height: 50px;
        }
      }
      &__text {
        font-size: 16px;
      }
    }
    .redkedsHarisma__picture {
      overflow-x: clip;
      width: 375px;
      height: 423px;
      top: 886px;
      left: 188px;

      .img_plus_mobile,
      .img_minus_mobile {
        top: 0px;
        left: 0px;
      }
      .plusM,
      .minusM {
        top: 330px;
        left: 97px;
      }
      .avtograf {
        top: 409px;
        left: 38px;
      }
      @include button_mobile;
    }
  }
}
