.priceTag {
  min-height: 3489px;
  position: relative;
  padding-top: 203px;
  padding-left: 60px;
  &__title {
    font-size: 44px;
    padding-bottom: 35px;
  }
  &__btnUp {
    position: absolute;
    top: 204px;
    right: 181px;
    @include buttonTopDesc;
  }
  &__content {
    display: flex;

    &__left {
      width: 510px;
      margin-left: -5px;

      .priceTag_text {
        background: url(../img/desctop/bg/bg2.webp) no-repeat;
        padding-right: 5px;
        padding-left: 5px;
        background-position: bottom -7px right -7px;
        font-size: 18px;
        font-style: italic;
        span {
          color: $text-color-light;
        }
      }
      .priceTag_text-mobile {
        display: none;
      }
    }
    &__right {
      width: 700px;
      padding-left: 195px;
      background: url(../img/desctop/bg/bg2-1.webp) no-repeat;
      background-position: top -70px left 36px;
      &__wrapper {
        display: flex;
        flex-direction: column;

        padding-top: 96px;
        width: 255px;
        gap: 37px;
        &__item {
          .item_number {
            padding-bottom: 8px;
            span {
              font-size: 12px;
            }
            font-size: 44px;
          }
          .item_text {
            font-size: 18px;
          }
        }
        .autograf {
          padding-top: 300px;
          font-size: 18px;
          font-style: italic;
        }
      }
    }
  }
  .priceTag_picture {
    position: absolute;
    z-index: 1;
    width: 1280px;
    height: 796px;
    top: 635px;
    left: 0px;
    .img_plus_desctop,
    .img_minus_desctop {
      position: absolute;
      z-index: 2;
      top: 0px;
      left: -204px;
      object-fit: cover;
    }
    .minus,
    .plus {
      bottom: -160px;
      left: 465px;
    }
    @include button;
  }
  &__content2Mobile,
  &__content3Mobile,
  &__content4Mobile,
  &__content5Mobile {
    display: none;
  }
  &__content2 {
    display: flex;
    flex-direction: column;
    margin-top: 322px;
    padding-left: 286px;
    background: url(../img/desctop/bg/bg2-2.webp) no-repeat;
    background-position: top 123px left 716px;

    &__text {
      width: 584px;
      padding-left: 14px;
      padding-right: 14px;
      margin-bottom: 36px;
      font-size: 20px;
      background: url(../img/desctop/bg/bg2-3.webp) no-repeat;
      background-position: top 148px left 0px;

      .dB {
        font-style: italic;
      }
      mark {
        background-color: $bg-color-dark;
        width: 3px;
        .text_bg {
          color: $text-color-light;
        }
      }
    }
    &__text2 {
      width: 593px;
      padding-left: 14px;
      padding-right: 14px;
      font-size: 20px;
      margin-bottom: 36px;

      background: url(../img/desctop/bg/bg2-4.webp) no-repeat;
      background-position: top 170px left 0px;
      .text_bg {
        color: $text-color-light;
      }
      .dB {
        font-style: italic;
      }
    }
    &__text3 {
      width: 560px;
      margin-bottom: 170px;
      font-size: 20px;
      background: url(../img/desctop/bg/bg2-5.webp) no-repeat;
      background-position: top 238px left 0px;
      .text_bg {
        color: $text-color-light;
      }
      .dB {
        font-style: italic;
      }
      .divider {
        display: none;
      }
    }
  }
  &__content3 {
    &__text {
      width: 560px;
      margin-bottom: 36px;
      font-size: 20px;
      .dB {
        font-style: italic;
      }
    }
    &__text2 {
      width: 560px;
      font-size: 20px;
      .dB {
        font-style: italic;
      }
    }
  }
  .priceTag_picture2 {
    position: absolute;
    overflow-x: clip;
    z-index: 1;
    width: 1280px;
    height: 796px;
    top: 2367px;
    left: 0px;
    .img_plus_desctop,
    .img_minus_desctop {
      position: absolute;
      z-index: 2;
      top: 0px;
      left: 330px;
      object-fit: cover;
    }
    .minus,
    .plus {
      bottom: -80px;
      left: 410px;
    }
    @include button;
    .avtograf {
      position: absolute;
      font-size: 18px;
      font-style: italic;
      top: 328px;
      left: 760px;
    }
  }
}
