@media (max-width: 768px) {
  .problemsArt {
    background: url(../img/tablet/bg/bg3.webp) no-repeat;
    background-position: top 107px left 0px;
    &__title {
      width: 700px;
      margin-left: 35px;
      font-size: 36px;
    }
    &__btnUp {
      position: absolute;
      z-index: 3;
      top: 185px;
      left: 290px;
      @include buttonTopMob;
    }
    .go-top {
      top: 185px;
      right: 435px;
      svg {
        width: 53px;
        height: 53px;
      }
    }
    &__content1 {
      padding-left: 25px;
      padding-top: 140px;
      margin-left: 435px;
      margin-top: -40px;
      width: 320px;
      background: url(../img/tablet/bg/bg3-1.webp) no-repeat;
      background-position: top 0px left 0px;
      &__item1,
      &__item2,
      &__item3 {
        width: 240px;
        height: 117px;
        font-size: 16px;
      }
      &__item1 {
        margin-bottom: 83px;
        background: none;
      }
      &__item2 {
        margin-bottom: 107px;
      }
      &__item3 {
        background: none;
      }
    }
    &__content2 {
      margin-bottom: 0px;
      &__text {
        width: 480px;
        font-size: 18px;
        .transfer {
          display: none;
        }
      }
    }
    &__content3Mobile {
      display: none;
    }
    &__content3 {
      margin-top: 634px;
      &__text {
        position: relative;
        font-family: 'Times New Roman';
        width: 480px;
        padding-left: 0px;
        margin-left: 56px;
        font-size: 20px;
        line-height: 119%;
        .textBg {
          font-family: 'Times New Roman';
          font-size: 20px;
          line-height: 119%;
          letter-spacing: 0.04em;
        }
        .dB {
          position: absolute;
          font-family: 'Times New Roman';
          font-size: 20px;
          bottom: 2px;
          right: 23px;
        }
      }
    }
  }
  .problemsArt__picture {
    overflow-x: clip;
    position: absolute;
    z-index: 1;
    width: 568px;
    height: 744px;
    top: 160px;
    left: -160px;
    .avtograf {
      top: -6px;
      left: 64px;
    }
    .minus,
    .plus {
      top: auto;
      bottom: -190px;
      left: 486px;
    }
    @include button_tablet;
  }
  .problemsArt__picture2 {
    width: 568px;
    height: 744px;
    top: 1400px;
    left: 160px;
    .avtograf {
      top: 23px;
      left: 300px;
    }
    .minus,
    .plus {
      top: -40px;
      left: 445px;
    }
    @include button_tablet;
  }
  .problemsArt__picture3 {
    width: 524px;
    height: 505px;
    top: 1630px;
    left: -265px;
    .avtograf {
      top: 23px;
      left: 300px;
    }
    .minus,
    .plus {
      top: 240px;
      left: 445px;
    }
    @include button_tablet;
  }
}
@media (max-width: 375px) {
  .problemsArt {
    background: url(../img/mobile/bg/bg6.webp) no-repeat;
    background-position: top 0px left 0px;
    padding-top: 0;
    margin-top: -35px;
    &__title {
      width: 316px;
      margin-left: 28px;
      font-size: 32px;
    }
    &__btnUp {
      position: absolute;
      top: -7px;
      left: 265px;
      @include buttonTopMob;
    }

    &__content1 {
      padding-left: 25px;
      padding-top: 65px;
      margin-left: 0px;
      width: 300px;
      background: url(../img/mobile/bg/bg6-1.webp) no-repeat;
      background-position: top 27px left 21px;
      &__item1,
      &__item2,
      &__item3 {
        width: 212px;
        height: 175px;
        font-size: 14px;
      }
      &__item1 {
        margin-bottom: 15px;
        background: url(../img/mobile/bg/bg6-1-1.webp) no-repeat;
        background-position: top 0px left 8px;
      }
      &__item2 {
        margin-bottom: 10px;
      }
      &__item3 {
        background: url(../img/mobile/bg/bg6-1-2.webp) no-repeat;
        background-position: top 5px left 50px;
        .divider {
          display: block;
        }
      }
    }
    .problemsArt__picture {
      overflow-x: clip;
      position: absolute;
      z-index: 1;
      width: 375px;
      height: 744px;
      top: 653px;
      left: 0px;
      .img_plus_mobile,
      .img_minus_mobile {
        top: 0px;
        left: 32px;
      }
      .plusM,
      .minusM {
        top: 237px;
        left: 46px;
      }
      .avtograf {
        top: 386px;
        left: 28px;
      }
      @include button_mobile;
    }
    &__content2 {
      margin-bottom: 0px;
      margin-top: 86px;
      &__text {
        width: 200px;
        font-size: 18px;
        font-family: 'Times New Roman';
        line-height: 140%;
        .transfer {
          display: none;
        }
      }
    }
    .problemsArt__picture2 {
      overflow-x: clip;
      width: 375px;
      height: 744px;
      top: 1360px;
      left: 0px;
      .img_plus_mobile,
      .img_minus_mobile {
        top: 0px;
        left: -44px;
      }
      .plusM,
      .minusM {
        top: -45px;
        left: 300px;
      }
      .avtograf {
        top: 300px;
        left: 260px;
      }
      @include button_mobile;
    }
    .problemsArt__picture3 {
      overflow-x: clip;
      width: 375px;
      height: 283px;
      top: 1604px;
      left: 0px;
      .img_plus_mobile,
      .img_minus_mobile {
        top: 0px;
        left: -235px;
      }
      .plusM,
      .minusM {
        top: 104px;
        left: 136px;
      }
      .avtograf {
        top: 300px;
        left: 260px;
      }
      @include button_mobile;
    }
    &__content3 {
      display: none;
    }
    &__content3Mobile {
      display: block;
      margin-top: 505px;
      .article__container {
        width: 226px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .minText,
        .maxText {
          font-size: 18px;
          display: block;
          .dB {
            font-style: italic;
          }
          .text_bg {
            color: $text-color-light;
          }
        }
        .minText {
          width: 240px;
          padding-left: 24px;
          padding-right: 19px;
          line-height: 123%;
          background: url(../img/mobile/bg/bg8.webp) no-repeat top 2px left 0px,
            url(../img/mobile/bg/bg8-1.webp) no-repeat top 368px left 0px;
        }
        .maxText {
          width: 228px;
          padding-top: 43px;
          padding-left: 22px;
          padding-right: 0px;
          line-height: 122%;
          display: none;
          background: url(../img/mobile/bg/bg7.webp) no-repeat top 0px left 0px,
            url(../img/mobile/bg/bg7-1.webp) no-repeat top 743px left 0px;
        }
        .show,
        .hide {
          align-self: flex-end;
          margin-top: 8px;
          display: none;
          font-size: 12px;
          color: $text-color-secondary;
          background: inherit;
          border: none;
          cursor: pointer;
          z-index: 10;
        }
        .active {
          display: block;
        }
      }
    }
  }
}
