@media (max-width: 768px) {
  .isWay {
    padding-top: 145px;
    padding-left: 35px;
    &__content {
      &__wrapper {
        &__title {
          font-size: 36px;
          margin-bottom: 34px;
        }
        &__btnUp {
          position: absolute;
          top: 0px;
          right: auto;
          left: 293px;
          @include buttonTopTab;
        }

        &__text {
          width: 310px;
          font-size: 16px;
        }
      }
      &__grey {
        width: 47.3%;
        margin-left: 72px;
        height: 322.217px;
        z-index: 1;
        background: url(../img/tablet/bg/bg4.webp) no-repeat;
      }
    }
    &__content3 {
      margin-left: -35px;
      margin-bottom: 90px;

      width: 530px;
      height: 474px;
      padding: 25px;

      &__number {
        font-size: 36px;
        margin-bottom: 8px;
      }
      &__text {
        font-size: 16px;
        margin-bottom: 12px;
      }
    }
    &__content4 {
      top: 430px;
      left: 2px;
      width: 91px;
      height: 189px;
      background: url(../img/tablet/bg/bg4-1.webp) no-repeat;
    }
    &__content5 {
      margin-left: -37px;
      margin-bottom: 157px;
      width: 480px;
      height: 240px;
      font-size: 18px;
    }
    .isWay__picture {
      overflow-x: clip;
      width: 524px;
      height: 505px;
      top: 1147px;
      left: -321px;
      .img_plus_desctop,
      .img_minus_desctop {
        top: 0px;
        left: 0px;
      }
      .minus,
      .plus {
        top: -140px;
        left: 357px;
      }
      .avtograf {
        top: 1px;
        left: 353px;
      }
      @include button_tablet;
    }
    &__content6 {
      width: 380px;
      height: 350px;
      font-size: 18px;
      .avtograf {
        font-style: italic;
      }
    }
    .isWay__picture2 {
      overflow-x: clip;
      width: 758px;
      height: 505px;
      top: 1334px;
      left: 0px;
      .img_plus_tablet,
      .img_minus_tablet {
        position: absolute;
        top: 0px;
        left: 324px;
      }
      .minus,
      .plus {
        top: 258px;
        left: 224px;
      }
      .avtograf {
        top: 36px;
        left: 460px;
      }
      @include button_tablet;
    }
  }
}
@media (max-width: 375px) {
  .isWay {
    padding-top: 86px;
    padding-left: 27px;
    &__content {
      position: relative;
      &__wrapper {
        &__title {
          font-size: 32px;
          margin-bottom: 24px;
        }
        &__btnUp {
          position: absolute;
          top: 5px;
          right: auto;
          left: 265px;
          @include buttonTopMob;
        }

        &__text {
          width: 320px;
          font-size: 14px;
        }
      }
      &__grey {
        position: absolute;
        top: 140px;
        left: 42px;
        width: 266px;
        height: 200px;
        z-index: 2;
        background: url(../img/mobile/bg/bg9.webp) no-repeat;
      }
    }
    &__content3 {
      margin-top: 180px;
      margin-left: -22px;
      margin-bottom: 215px;
      align-self: start;
      width: 236px;
      height: 447px;
      padding: 20px;
      z-index: 1;

      &__number {
        font-size: 32px;
        margin-bottom: 2px;
      }
      &__text {
        display: none;
      }
      &__text-mobile {
        display: block;
        font-size: 14px;
        color: $text-color-light;
        margin-bottom: 16px;
      }
    }
    &__content4 {
      top: 250px;
      left: 43px;
      background: url(../img/mobile/bg/bg9-1.webp) no-repeat;
    }
    &__content5 {
      display: none;
    }
    &__content5Mobile {
      display: block;
      display: flex;
      width: 300px;
      .article__container {
        width: 240px;
        padding-left: 0px;
        padding-right: 13px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .minText {
          font-size: 18px;
          .dB {
            font-style: italic;
          }
        }
        .maxText {
          font-size: 18px;
          width: 240px;
          padding-left: 0px;
          padding-right: 0px;
          display: none;
        }
        .show,
        .hide {
          align-self: flex-end;
          margin-top: 8px;
          display: none;
          font-size: 12px;
          color: $text-color-secondary;
          background: inherit;
          border: none;
          cursor: pointer;
          z-index: 10;
        }
        .active {
          display: block;
        }
      }
    }
    &__content6 {
      margin-top: 84px;
      margin-left: 60px;
      font-size: 18px;
      width: 200px;
      height: 83px;
      font-size: 18px;
      .divider {
        display: block;
      }
      .avtograf {
        font-style: italic;
      }
    }
    .isWay__picture {
      overflow-x: clip;
      width: 345px;
      height: 283px;
      top: 726px;
      left: 15px;
      .img_plus_mobile,
      .img_minus_mobile {
        top: 0px;
        left: -235px;
      }
      .plusM,
      .minusM {
        top: 230px;
        left: 128px;
      }
      .avtograf {
        top: 197px;
        left: 243px;
      }
      @include button_mobile;
    }
    .isWay__picture2 {
      overflow-x: clip;
      width: 375px;
      height: 283px;
      top: auto;
      bottom: -320px;
      left: -13px;
      margin-bottom: 100px;

      .img_plus_mobile,
      .img_minus_mobile {
        top: 0px;
        left: 0px;
      }
      .plusM,
      .minusM {
        top: 282px;
        left: 75px;
      }
      .avtograf {
        top: 347px;
        left: 274px;
      }
      @include button_mobile;
    }
  }
}
