@media (max-width: 1279.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}
@media (max-width: 768px) {
  .promo {
    max-width: 768px;
    .streak {
      height: 36px;
      width: 768px;
      &.down {
        bottom: -27px;
      }
    }
    &__content {
      max-width: 83.35%;
      min-height: 877px;
      padding-left: 30px;
      &__left {
        width: 155%;

        h1 {
          margin-bottom: 40px;
          font-size: 36px;
        }
        .promo_text {
          font-size: 16px;
          padding-bottom: 132px;
        }
        .promo_text_mobile {
          display: none;
        }
        .artObject {
          margin-left: 0px;
          width: 95%;
          max-height: 300px;
        }
      }
      &__right {
        padding-top: 534px;
        .avtograf {
          font-size: 16px;
          padding-right: 15px;
          align-items: start;
          padding-right: 20px;
        }
      }
    }
  }
  .promo__picture {
    width: 768px;
    .img_plus_tablet,
    .img_minus_tablet {
      position: absolute;
      top: -157px;
      left: 207px;
      z-index: 2;
    }
    .minus,
    .plus {
      top: 596px;
      right: 29px;
    }
    @include button_tablet;
  }
}

@media (max-width: 375px) {
  .promo {
    height: 865px;
    width: 375px;
    .streak {
      width: 375px;
      z-index: 2;
      &.down {
        display: none;
      }
    }
    &__content {
      position: relative;
      padding-top: 10px;
      min-height: 668px;
      max-width: 70%;
      padding-left: 22px;
      &__left {
        width: 100%;
        h1 {
          font-size: 32px;
          margin-bottom: 285px;
        }
        .promo_text {
          display: none;
        }
        .promo_text_mobile {
          display: inline-block;
          width: 320px;
          padding-left: 5px;
          font-size: 14px;
          color: $text-color-light;
          padding-bottom: 0px;
        }
        .artObject {
          display: none;
        }
        .artObject_mobile {
          display: inline-block;
          img {
            margin-top: -37px;
            margin-left: 25px;
          }
        }
      }
      &__right {
        position: absolute;
        top: 317px;
        left: 260px;
        width: 113px;
        height: 200px;
        background-color: $bg-color-dark;
        z-index: -1;
        .avtograf {
          display: none;
        }
      }
    }
  }
  .promo__picture {
    width: 375px;
    left: 5px;
    .img_plus_mobile,
    .img_minus_mobile {
      top: 5px;
      left: -33px;
    }
    .plusM,
    .minusM {
      top: 85px;
      right: 34px;
    }
    @include button_mobile;
  }
}
