@media (max-width: 768px) {
  .promo {
    .streak {
      width: 768px;
    }
    &__content {
      max-width: 643px;
      min-height: 877px;
      padding-left: 40px;
      &__left {
        width: 340px;
        h1 {
          width: 340px;
          font-size: 36px;
        }
        .promo_text {
          width: 340px;
          font-size: 16px;
          padding-bottom: 118px;
        }
        .promo_text_mobile {
          display: none;
        }
        .artObject {
          width: 350px;
          height: 350px;
        }
      }
      &__right {
        padding-top: 530px;
        .avtograf {
          align-items: start;
          padding-right: 20px;
        }
      }
    }
  }
  .promo__picture {
    overflow-x: clip;
    width: 768px;
    .img_minus_desctop,
    .img_plus_desctop,
    .img_plus_mobile,
    .img_minus_mobile {
      display: none;
    }
    .img_plus_tablet,
    .img_minus_tablet {
      position: absolute;
      top: -150px;
      left: 220px;
      z-index: 2;
    }

    .minus,
    .plus {
      width: 80px;
      height: 80px;
      position: absolute;
      top: 590px;
      right: 30px;
      cursor: pointer;
    }
    .plus {
      &:hover {
        ~ .img_plus_tablet ~ .plus {
          display: none;
        }

        ~ .img_minus_tablet,
        ~ .minus {
          display: inline-block;
        }
      }
    }
    .img_plus_tablet {
      display: inline-block;
    }
  }
}

@media (max-width: 375px) {
  .promo {
    height: 865px;
    .streak {
      width: 375px;

      &.down {
        display: none;
      }
    }
    &__content {
      position: relative;
      max-width: 260px;
      min-height: 668px;
      padding-left: 28px;
      &__left {
        width: 340px;
        height: 668px;
        // z-index: 5;
        h1 {
          width: 250px;
          font-size: 32px;
          margin-bottom: 300px;
        }
        .promo_text {
          display: none;
        }
        .promo_text_mobile {
          display: inline-block;
          width: 320px;
          font-size: 14px;
          color: $text-color-light;
          padding-bottom: 0px;
        }
        .artObject {
          display: none;
        }
        .artObject_mobile {
          display: inline-block;
          // width: 375px;
          // background-color: $bg-color-dark;
          img {
            margin-top: -37px;
            margin-left: 25px;
          }
        }
      }
      &__right {
        position: absolute;
        top: 330px;
        left: 260px;
        width: 113px;
        background-color: $bg-color-dark;
        z-index: -1;

        .avtograf {
          display: none;
        }
      }
    }
  }
  .promo__picture {
    overflow-x: clip;
    width: 375px;
    .img_minus_desctop,
    .img_plus_desctop,
    .img_plus_tablet,
    .img_minus_tablet {
      display: none;
    }
    .img_plus_mobile {
      display: inline-block;
    }
    .img_plus_mobile,
    .img_minus_mobile {
      position: absolute;
      top: 57px;
      left: -30px;
      z-index: 2;
    }
    .plus,
    .minus {
      display: none;
    }
    .plusM,
    .minusM {
      display: none;
      z-index: 9;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 90px;
      right: 34px;
      cursor: pointer;
    }
    .active {
      display: block;
    }
  }
}
