.footer {
  &__red {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding-left: 60px;
    padding-top: 147px;
    background-color: $bg-color-secondary;
    &__wrp {
      display: flex;
      &__title {
        width: 304px;

        font-size: 44px;
      }
      &__bg {
        height: 148px;
        width: 100%;
        z-index: 2;
        background: url(../../../img/desctop/bg/bg5-2.png) no-repeat;
        background-position: top -45px left 60px;
      }
    }

    &__partners {
      display: flex;
      padding-right: 60px;
      height: 137px;
      width: 100%;

      ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  &__black {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 155px;
    padding-bottom: 10px;
    height: 450px;
    background-color: $bg-color-dark;

    &__credits {
      width: 350px;
      min-height: 60px;
      text-align: center;
      color: $text-color-light;
      font-size: 14px;
    }
    &__socials {
      ul {
        display: flex;
        height: 60px;
        align-items: center;
        li {
          cursor: pointer;
          svg {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
}
