* {
  font-family: 'Helvetica World', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

@media (max-width: 1279.98px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 375px;
  }
}
